./makefile
.flake8
.git*
.idea
.pre-commit-config.yaml
.profile
.pytest_cache
.travis.y*ml
.vscode/*
*.code-workspace
*.DS_Store
*.egg
*.egg-info/
**/__pycache__
**/.DS_Store
**/*.env
**/*.ipynb_checkpoints
dj_local_conf.json
log*.txt
manifest.in
poetry.lock
scratch*.py
scratch/
tox.ini
