__pycache__/
./makefile
.git*
.idea/
.profile
.travis.y*ml
.vscode/*
*.code-workspace
*.DS_Store
*.egg
*.egg-info/
**/.DS_Store
**/*.ipynb_checkpoints
dj_local_conf.json
log*.txt
scratch*.py
scratch/
tox.ini
