[flake8]
max-line-length = 79
# Ignore the following errors and warnings: 
#     - whitespace after '(' (E201)
#     - whitespace before ')' (E202)
#     - assigning a var to a lambda expression (E731)
#     - linebreaking before a binary operator (W503)
extend-ignore = E201, E202, E731, W503
# Ignore config setting files for git, github, intellij, vscode.
exclude = .git, .github, .idea, .vscode