# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
*.egg-info/
*.egg

# dotenv
!docker/template.env
**/*.env


# datajoint
dj_local_conf.json

# IDE
.venv
.vscode/*
*.code-workspace
.idea/
**/*.ipynb_checkpoints

# misc
**/.DS_Store
log*.txt
scratch/
scratch*.py
**/*.nfs*