# For info on running pre-commit manually, see `pre-commit run --help`
files: "^(test|aeon)\/.*$"
repos:
  - repo: meta
    hooks:
      - id: identity

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: check-xml
      - id: check-merge-conflict
      - id: detect-private-key
      - id: end-of-file-fixer
        exclude: LICENSE
      - id: no-commit-to-branch
      - id: mixed-line-ending
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.4
    hooks:
      # Run the linter with the `--fix` flag.
      - id: ruff
        types_or: [ python, pyi ] # Ignore .ipynb files
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi ] # Ignore .ipynb files

  # - repo: https://github.com/RobertCraigie/pyright-python
  #   rev: v1.1.380
  #   hooks:
  #     - id: pyright
  #       args: [--level, error, --project, ./pyproject.toml]

  # Pytest is expensive, so we show its set-up but leave it commented out.
  # - repo: local
  #   hooks:
  #     - id: pytest-py
  #       name: pytest-py
  #       entry: pytest
  #       language: system
  #       pass_filenames: false
  #       args:
  #         - "-v"
  #         - "-n"
  #         - "auto"
