# Users

# begin modified by Joaquin 10 Jan 2022 to make ReadTheDocs work
# python>=3.9.4
python
# end modified by Joaquin

graphviz
jupyter
jupyterlab
matplotlib
numpy
opencv-python
pandas
scikit-learn
scipy
seaborn

# Developers (can be separated out in a `dev_req.txt` file in future)
bandit
black
flake8
pytest
tox
