# docker-compose -f docker/docker-compose.yml -f docker/docker-compose-dev.yml build
# docker-compose -f docker/docker-compose.yml -f docker/docker-compose-dev.yml up -d --force-recreate --remove-orphans
# docker-compose -f docker/docker-compose.yml -f docker/docker-compose-dev.yml down --volumes
# docker compose -f docker/docker-compose.yml -f docker/docker-compose-dev.yml config
#
# docker ps -ls --no-trunc
# docker top aeon_mecha_ingest_high_1 auxf
#
# ssh -fN -M -S ~/.ssh/controlmasters/aeon-db2 jburling@hpc-gw1 -J jburling@ssh.swc.ucl.ac.uk -L 127.0.0.1:3306:aeon-db:3306
# ssh -o ControlPath=~/.ssh/controlmasters/aeon-db2 -O check 1
# ssh -o ControlPath=~/.ssh/controlmasters/aeon-db2 -O stop 1

services:
  dev:
    build:
      context: ../.
      dockerfile: docker/image/Dockerfile
    entrypoint: ["sudo-run"]
    command: ["tail", "-f", "/dev/null"]
    deploy:
      mode: replicated
      replicas: 1
    volumes:
      # - ../.:/aeon_mecha
      - vscode-server:/home/aeon_db/.vscode-server/extensions

  ingest_high:
    deploy:
      mode: replicated
      replicas: 0

  ingest_mid:
    deploy:
      mode: replicated
      replicas: 0

volumes:
  vscode-server:
    name: dev-vscode-server
