<?xml version="1.0" encoding="utf-8"?>
<PackageConfiguration xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Packages>
    <Package id="Accord" version="3.8.0" />
    <Package id="Accord.Imaging" version="3.8.0" />
    <Package id="Accord.MachineLearning" version="3.8.0" />
    <Package id="Accord.Math" version="3.8.0" />
    <Package id="Accord.Statistics" version="3.8.0" />
    <Package id="Aeon.Acquisition" version="0.5.0" />
    <Package id="Bonsai" version="2.8.2" />
    <Package id="Bonsai.Core" version="2.8.1" />
    <Package id="Bonsai.Design" version="2.8.0" />
    <Package id="Bonsai.Dsp" version="2.8.0" />
    <Package id="Bonsai.Editor" version="2.8.1" />
    <Package id="Bonsai.Harp" version="3.5.0" />
    <Package id="Bonsai.Sleap" version="0.3.0" />
    <Package id="Bonsai.System" version="2.8.0" />
    <Package id="Bonsai.Vision" version="2.8.0" />
    <Package id="jacobslusser.ScintillaNET" version="3.6.3" />
    <Package id="Markdig" version="0.18.1" />
    <Package id="Microsoft.Web.WebView2" version="1.0.1823.32" />
    <Package id="OpenCV.Net" version="3.4.2" />
    <Package id="Rx-Core" version="2.2.5" />
    <Package id="Rx-Interfaces" version="2.2.5" />
    <Package id="Rx-Linq" version="2.2.5" />
    <Package id="Rx-PlatformServices" version="2.2.5" />
    <Package id="SvgNet" version="3.3.3" />
    <Package id="TensorFlowSharp-Lite" version="2.8.0" />
    <Package id="YamlDotNet" version="13.1.1" />
  </Packages>
  <AssemblyReferences>
    <AssemblyReference assemblyName="Accord" />
    <AssemblyReference assemblyName="Accord.Imaging" />
    <AssemblyReference assemblyName="Accord.MachineLearning" />
    <AssemblyReference assemblyName="Accord.Math" />
    <AssemblyReference assemblyName="Accord.Math.Core" />
    <AssemblyReference assemblyName="Accord.Statistics" />
    <AssemblyReference assemblyName="Aeon.Acquisition" />
    <AssemblyReference assemblyName="Bonsai" />
    <AssemblyReference assemblyName="Bonsai.Core" />
    <AssemblyReference assemblyName="Bonsai.Design" />
    <AssemblyReference assemblyName="Bonsai.Dsp" />
    <AssemblyReference assemblyName="Bonsai.Editor" />
    <AssemblyReference assemblyName="Bonsai.Harp" />
    <AssemblyReference assemblyName="Bonsai.Sleap" />
    <AssemblyReference assemblyName="Bonsai.System" />
    <AssemblyReference assemblyName="Bonsai.Vision" />
  </AssemblyReferences>
  <AssemblyLocations>
    <AssemblyLocation assemblyName="Accord" processorArchitecture="MSIL" location="Packages/Accord.3.8.0/lib/net462/Accord.dll" />
    <AssemblyLocation assemblyName="Accord.Imaging" processorArchitecture="MSIL" location="Packages/Accord.Imaging.3.8.0/lib/net462/Accord.Imaging.dll" />
    <AssemblyLocation assemblyName="Accord.MachineLearning" processorArchitecture="MSIL" location="Packages/Accord.MachineLearning.3.8.0/lib/net462/Accord.MachineLearning.dll" />
    <AssemblyLocation assemblyName="Accord.Math" processorArchitecture="MSIL" location="Packages/Accord.Math.3.8.0/lib/net462/Accord.Math.dll" />
    <AssemblyLocation assemblyName="Accord.Math.Core" processorArchitecture="MSIL" location="Packages/Accord.Math.3.8.0/lib/net462/Accord.Math.Core.dll" />
    <AssemblyLocation assemblyName="Accord.Statistics" processorArchitecture="MSIL" location="Packages/Accord.Statistics.3.8.0/lib/net462/Accord.Statistics.dll" />
    <AssemblyLocation assemblyName="Aeon.Acquisition" processorArchitecture="MSIL" location="Packages/Aeon.Acquisition.0.5.0/lib/net472/Aeon.Acquisition.dll" />
    <AssemblyLocation assemblyName="Bonsai" processorArchitecture="MSIL" location="Packages/Bonsai.2.8.2/lib/net48/Bonsai.exe" />
    <AssemblyLocation assemblyName="Bonsai.Core" processorArchitecture="MSIL" location="Packages/Bonsai.Core.2.8.1/lib/net462/Bonsai.Core.dll" />
    <AssemblyLocation assemblyName="Bonsai.Design" processorArchitecture="MSIL" location="Packages/Bonsai.Design.2.8.0/lib/net462/Bonsai.Design.dll" />
    <AssemblyLocation assemblyName="Bonsai.Dsp" processorArchitecture="MSIL" location="Packages/Bonsai.Dsp.2.8.0/lib/net462/Bonsai.Dsp.dll" />
    <AssemblyLocation assemblyName="Bonsai.Editor" processorArchitecture="MSIL" location="Packages/Bonsai.Editor.2.8.1/lib/net472/Bonsai.Editor.dll" />
    <AssemblyLocation assemblyName="Bonsai.Harp" processorArchitecture="MSIL" location="Packages/Bonsai.Harp.3.5.0/lib/net462/Bonsai.Harp.dll" />
    <AssemblyLocation assemblyName="Bonsai.Sleap" processorArchitecture="MSIL" location="Packages/Bonsai.Sleap.0.3.0/lib/net472/Bonsai.Sleap.dll" />
    <AssemblyLocation assemblyName="Bonsai.System" processorArchitecture="MSIL" location="Packages/Bonsai.System.2.8.0/lib/net462/Bonsai.System.dll" />
    <AssemblyLocation assemblyName="Bonsai.Vision" processorArchitecture="MSIL" location="Packages/Bonsai.Vision.2.8.0/lib/net462/Bonsai.Vision.dll" />
    <AssemblyLocation assemblyName="Markdig" processorArchitecture="MSIL" location="Packages/Markdig.0.18.1/lib/net40/Markdig.dll" />
    <AssemblyLocation assemblyName="Microsoft.Web.WebView2.Core" processorArchitecture="MSIL" location="Packages/Microsoft.Web.WebView2.1.0.1823.32/lib/net45/Microsoft.Web.WebView2.Core.dll" />
    <AssemblyLocation assemblyName="Microsoft.Web.WebView2.WinForms" processorArchitecture="MSIL" location="Packages/Microsoft.Web.WebView2.1.0.1823.32/lib/net45/Microsoft.Web.WebView2.WinForms.dll" />
    <AssemblyLocation assemblyName="Microsoft.Web.WebView2.Wpf" processorArchitecture="MSIL" location="Packages/Microsoft.Web.WebView2.1.0.1823.32/lib/net45/Microsoft.Web.WebView2.Wpf.dll" />
    <AssemblyLocation assemblyName="OpenCV.Net" processorArchitecture="MSIL" location="Packages/OpenCV.Net.3.4.2/lib/net462/OpenCV.Net.dll" />
    <AssemblyLocation assemblyName="ScintillaNET" processorArchitecture="MSIL" location="Packages/jacobslusser.ScintillaNET.3.6.3/lib/net40/ScintillaNET.dll" />
    <AssemblyLocation assemblyName="SVG" processorArchitecture="MSIL" location="Packages/SvgNet.3.3.3/lib/net462/SVG.dll" />
    <AssemblyLocation assemblyName="System.Reactive.Core" processorArchitecture="MSIL" location="Packages/Rx-Core.2.2.5/lib/net45/System.Reactive.Core.dll" />
    <AssemblyLocation assemblyName="System.Reactive.Interfaces" processorArchitecture="MSIL" location="Packages/Rx-Interfaces.2.2.5/lib/net45/System.Reactive.Interfaces.dll" />
    <AssemblyLocation assemblyName="System.Reactive.Linq" processorArchitecture="MSIL" location="Packages/Rx-Linq.2.2.5/lib/net45/System.Reactive.Linq.dll" />
    <AssemblyLocation assemblyName="System.Reactive.PlatformServices" processorArchitecture="MSIL" location="Packages/Rx-PlatformServices.2.2.5/lib/net45/System.Reactive.PlatformServices.dll" />
    <AssemblyLocation assemblyName="TensorFlowSharp" processorArchitecture="MSIL" location="Packages/TensorFlowSharp-Lite.2.8.0/lib/net472/TensorFlowSharp.dll" />
    <AssemblyLocation assemblyName="YamlDotNet" processorArchitecture="MSIL" location="Packages/YamlDotNet.13.1.1/lib/net47/YamlDotNet.dll" />
  </AssemblyLocations>
  <LibraryFolders>
    <LibraryFolder path="Packages/Microsoft.Web.WebView2.1.0.1823.32/runtimes/win-arm64/native" platform="arm64" />
    <LibraryFolder path="Packages/Microsoft.Web.WebView2.1.0.1823.32/runtimes/win-arm64/native_uap" platform="arm64" />
    <LibraryFolder path="Packages/Microsoft.Web.WebView2.1.0.1823.32/runtimes/win-x64/native" platform="x64" />
    <LibraryFolder path="Packages/Microsoft.Web.WebView2.1.0.1823.32/runtimes/win-x64/native_uap" platform="x64" />
    <LibraryFolder path="Packages/Microsoft.Web.WebView2.1.0.1823.32/runtimes/win-x86/native" platform="x86" />
    <LibraryFolder path="Packages/Microsoft.Web.WebView2.1.0.1823.32/runtimes/win-x86/native_uap" platform="x86" />
  </LibraryFolders>
</PackageConfiguration>