# HOST_UID=$(id -u) docker-compose -f docker-compose-local.yaml down --volumes
# HOST_UID=$(id -u) docker-compose -f docker-compose-local.yaml up

# Access using fakeservices.datajoint.io
version: '2.4'
services:
  pharus:
    cpus: 2.0
    mem_limit: 4g
    image: jverswijver/pharus:0.8.5-PY_VER-3.9
    environment:
      # - FLASK_ENV=development # enables logging to console from Flask
      - PHARUS_SPEC_PATH=/main/specsheet.yaml # for dynamic utils spec
      - PHARUS_MODE=DEV
    user: root
    volumes:
      - ./specsheet.yaml:/main/specsheet.yaml #copy the spec over to /main/specs/YOUR_SPEC_NAME
      - ./apk_requirements.txt:/tmp/apk_requirements.txt
      - /ceph/aeon/aeon:/ceph/aeon/aeon
    command:
      - sh
      - -c
      - |
        apk add --update git g++ &&
        git clone -b datajoint_pipeline https://github.com/SainsburyWellcomeCentre/aeon_mecha.git &&
        pip install -e ./aeon_mecha &&
        pharus_update() {
            [ -z "$$GUNICORN_PID" ] || kill $$GUNICORN_PID
            gunicorn --bind 0.0.0.0:$${PHARUS_PORT} pharus.server:app &
            GUNICORN_PID=$$!
        }
        pharus_update
        echo "[$$(date -u '+%Y-%m-%d %H:%M:%S')][DataJoint]: Monitoring Pharus updates..."
        INIT_TIME=$$(date +%s)
        LAST_MOD_TIME=$$(date -r $$PHARUS_SPEC_PATH +%s)
        DELTA=$$(expr $$LAST_MOD_TIME - $$INIT_TIME)
        while true; do
           CURR_LAST_MOD_TIME=$$(date -r $$PHARUS_SPEC_PATH +%s)
           CURR_DELTA=$$(expr $$CURR_LAST_MOD_TIME - $$INIT_TIME)
           if [ "$$DELTA" -lt "$$CURR_DELTA" ]; then
               echo "[$$(date -u '+%Y-%m-%d %H:%M:%S')][DataJoint]: Reloading Pharus since \`$$PHARUS_SPEC_PATH\` changed."
               pharus_update
               DELTA=$$CURR_DELTA
           else
               sleep 5
           fi
        done
    # ports:
    # - "5000:5000"
    networks:
      - main
  sci-viz:
    cpus: 2.0
    mem_limit: 16g
    image: jverswijver/sci-viz:2.3.3-hotfix3
    environment:
      - CHOKIDAR_USEPOLLING=true
      - REACT_APP_DJSCIVIZ_BACKEND_PREFIX=/api
      - DJSCIVIZ_SPEC_PATH=/main/specsheet.yaml
      - DJSCIVIZ_MODE=DEV
      - NODE_OPTIONS="--max-old-space-size=12000"
    user: root
    volumes:
      - ./specsheet.yaml:/main/specsheet.yaml
    # ports:
    #   - "3000:3000"
    command:
      - sh
      - -c
      - |
        sh sci-viz-hotreload-dev.sh
    networks:
      - main
  fakeservices.datajoint.io:
    image: datajoint/nginx:v0.2.5
    environment:
      - ADD_pharus_TYPE=REST
      - ADD_pharus_ENDPOINT=pharus:5000
      - ADD_pharus_PREFIX=/api
      - ADD_sciviz_TYPE=REST
      - ADD_sciviz_ENDPOINT=sci-viz:3000
      - ADD_sciviz_PREFIX=/
      #      - HTTPS_PASSTHRU=TRUE
      - DEPLOYMENT_PORT
    ports:
      - "443:443"
      - "${DEPLOYMENT_PORT:-80}:80"
    networks:
      - main
networks:
  main:
